<!DOCTYPE html>
<html>
<head>
	<title>Home - Librarian</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/app.js"></script>
	
</head>
<body>
	<div id="navbar">
		<ul>
			<li id="title"><a href="#/index"> Librarian - TSM9WB</a></li>
			<li id = "home" class="nav-item active"><a href="#/home">Home</a></li>
			<li id = "about" class="nav-item"><a href="#/about">About</a></li>
			<li id = "authors" class="nav-item"><a href="#/authors">Authors</a></li>
			<li id = "books" class="nav-item"><a href="#/books">Books</a></li>
			<li id = "contact" class="nav-item"><a href="#/contact">Contact</a></li>
		</ul>
	</div>
	
	<div id="content">
	
	</div>
	
	
	<div class="message-box success">
		Addition Successful
	</div>

	<div class="message-box failure">
		Error creating new Author. 
	</div>

</body>
</html>
