/*
 *
 * Navigation menu styles
 *
 */

#navbar {
	margin: 0;
	margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 15px;
    background-color: #53777A;
    border-bottom: 5px solid #542437;
} 

#title a {
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    color: #ECD078;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 3px 2px 3px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #53777A;
}

li.nav-item {
    float: left;
    border: 2px outset #542437;
	border-radius: 6px;
	margin-right: 1.0%;
    background-color: #C02942;
}

li.nav-item a {
    display: block;
    color: #ECD078;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li.nav-item a:hover:not(.active) {
    background-color: #D95B43;
    border-radius: 6px;
}

li.active a {
    background-color: #542437;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li.active a:hover {
    background-color: #542437;
}

.button {
	border-radius: 15px;
    border: 2px solid #53777A;
    background-color: #D95B43;
    padding: 15px; 
    width: 200px;
    text-align: center;
    font-weight: bold;
}

.button:hover {
	background-color: #C02942;
	color: white;
}

/* --------------------------------------------
 *
 * Page styles
 *
 */

body {
    background-color: #ECD078;
    font-family: "Verdana", Arial, Sans-serif;
    color: #542437;
    min-height: 100%;
    
}

h1, h2 {
	color: #542437;
}
h3 {
	color: #C02942;
}

div.main-info {
	border: 2px solid #53777A;
	padding: 13px;
	width: 40%;
	margin: 20px;
	border-radius: 25px;
	float: left;
}

div.renting-info {
	border: 2px solid #53777A;
	padding: 13px;
	width: 30%;
	margin: 20px;
	border-radius: 25px;
	float: left;
}

div#content {
	border: 2px solid #53777A;
	padding: 13px;
	width: 80%;
	margin-top: 20px;
	margin-left: 9%;
	margin-right: 10%;
	margin-bottom: 100px;
	border-radius: 25px;
	float: left;
}

/* 
 *
 * Data holding table
 *
 */

.data-table {
	border: 1px solid #542437;
	padding: 5px;
	border-collapse: collapse;
	width: 100%;
}

.data-table td,th{
	border: 2px solid #542437;
	margin: -1px;
	padding: 14px;
	text-align: left;
	width: 25%;
	
}

tbody {
	cursor:pointer;
}

.data-table th{
	background-color: #53777A;
	color: #ECD078;
}

.data-table tr:hover {background-color: #D95B43;}

/* 
 *
 * Done and cancel button
 *
 */

.new-author {
	width:100%;
	padding: 10px;
	background-color: #53777A;
	color: #ECD078;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 10px;
}

.done-button {
	width:20%;
	margin:auto;
	padding: 10px;
	background-color: #D95B43;
	color: #ECD078;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 10px;
	float: right;
}

.cancel-button {
	width:20%;
	margin:auto;
	padding: 10px;
	background-color: #53777A;
	color: #ECD078;
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 10px;
	float: left;
}

.update-button-container {
	width:80%;
	position: absolute;
	left:10%;
    top:100px;
	
}

/* 
 *
 * Inputs
 *
 */

.input-table {
	border: 1px solid #542437;
	border-top: 0px solid #542437;
	padding: 5px;
	border-collapse: collapse;
	width: 100%;
}

.input-table td{
	border: 2px solid #542437;
	border-top: 0px solid #542437;
	margin: -1px;
	padding: 0px;
	text-align: left;
	width: 25%;
}

.selected-for-update td{
	margin: -1px;
	padding: 0px;
	width: 25%;
	background-color: #D95B43;
}

input {
	width: 85%;
	padding: 10px;
	margin: 4px;
	font-family:courier;
    font-size:80%;
    border: 1px solid #53777A;
    float: left;
}

select {
	width: 93%;
	padding: 10px;
	margin: 4px;
	font-family:courier;
    font-size:80%;
    border: 1px solid #53777A;
    float: left;
    background-color: white;
}

/*
 *
 * User Action response messages
 *
 */

.message-box {
	position: fixed;
	bottom: 60px;
	left: 35%;
	width: 30%;
	height: 50px;
	background-color: #53777A;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	padding-top: 50px;
	border-radius: 17px;
	color: #ECD078;
	font-size: 1.4em;
	font-weight: bold;
	border: 3px solid #542437;
	box-shadow: 8px 8px 4px #888888;
	text-shadow: 3px 2px 1px black;
}

.failure {
	background-color: #C02942;
	display: none;
	padding-top: 25px;
}

.success {
	display: none;
}

/*
Colors:
Yellow: #ECD078
Brick: #D95B43
Red: #C02942
Purple: #542437
Blue: #53777A
*/

/*
 *
 * Basic
 *
 */

html, body {
	margin: 0;
	padding: 0;
}